In [1]:
# Dependencies
from bs4 import BeautifulSoup
import requests
#import pymongo
import pandas as pd
from splinter import Browser
from datetime import datetime, timedelta

In [2]:
url = 'https://www.cnbc.com/'

In [3]:
response = requests.get(url)
response.status_code

200

In [4]:
html = response.text
html[0:50]

'<!DOCTYPE html><html lang="en" prefix="og=https://'

In [5]:
# SOUPIFY
soup = BeautifulSoup(html, "lxml")
#print(soup.prettify())

In [6]:
news = soup.find_all(class_="LatestNews-newsFeed")

In [7]:
#grab all articles (from class)
cnbc = soup.find('a',attrs={'class':'branding-menu-logo'})['href']
title = soup.find_all(class_="LatestNews-headline")
time = soup.find_all(class_="LatestNews-timestamp")
#href = soup.find(class_="LatestNews-newsFeed")

In [8]:
#href['href']

In [9]:
#href.a.get('href')
href = "https://www.cnbc.com" + soup.find(class_="LatestNews-newsFeed").a.get("href")

In [10]:
href

'https://www.cnbc.comhttps://www.cnbc.com/2020/06/23/european-stocks-brush-off-concerns-over-coronavirus-pmis-in-focus.html'

In [11]:
#.a.get("href")

In [12]:
# find hrefs
lists = soup.find_all(class_="LatestNews-newsFeed")

href = []

for headline in lists:
    href.append(headline.a.get("href"))
    
len(href)

30

In [13]:
cnbc = cnbc.replace("/","")
cnbc

'www.cnbc.com'

In [14]:
len(time)

30

In [15]:
title[0].text

'European stocks head for higher open, brushing off coronavirus '

In [16]:
time[0].text

'23 Min Ago'

In [17]:
# create lists
headlines = []
datetimes = []
links = []

In [18]:
for article in news:
    headline = article.find(class_="LatestNews-headline").text      
    datePub = article.find(class_="LatestNews-timestamp").text
    #link = a.find(class_="LatestNews-newsFeed")[0].a.get("href")
    
    headlines.append(headline)
    datetimes.append(datePub)
    #links.append(link)

In [19]:
#Make dataframe
df = pd.DataFrame()

df["Headline"] = headlines
df["Subheader"] = ""
df["News URL"] = href
df["Published"] = datetimes
df["Main URL"] = cnbc

In [20]:
df.head()

,Headline,Subheader,News URL,Published,Main URL
0,"European stocks head for higher open, brushing...",,https://www.cnbc.com/2020/06/23/european-stock...,23 Min Ago,www.cnbc.com
1,'Social bonds' are surging as conscious invest...,,https://www.cnbc.com/2020/06/23/social-bonds-a...,25 Min Ago,www.cnbc.com
2,Private survey of Chinese businesses predicts ...,,https://www.cnbc.com/2020/06/23/china-beige-bo...,1 Hour Ago,www.cnbc.com
3,The poor in Asia get only a 'thin trickle' of ...,,https://www.cnbc.com/2020/06/23/coronavirus-an...,1 Hour Ago,www.cnbc.com
4,Secondhand apparel market expected to be value...,,https://www.cnbc.com/2020/06/23/thredup-resale...,2 Hours Ago,www.cnbc.com

In [21]:
df.to_csv('out.csv', index=False)

# df to db

In [61]:
from sqlalchemy import create_engine

In [62]:
engine = create_engine("postgresql://postgres:Maria0812!@localhost:5432/postgres")
conn = engine.connect()

In [63]:
news_df = df[['Headline', 'News URL', 'Published']].copy()
news_df.columns = ['header','article_url', 'date_published']
news_df.head()

,header,article_url,date_published
0,"European stocks head for higher open, brushing...",https://www.cnbc.com/2020/06/23/european-stock...,23 Min Ago
1,'Social bonds' are surging as conscious invest...,https://www.cnbc.com/2020/06/23/social-bonds-a...,25 Min Ago
2,Private survey of Chinese businesses predicts ...,https://www.cnbc.com/2020/06/23/china-beige-bo...,1 Hour Ago
3,The poor in Asia get only a 'thin trickle' of ...,https://www.cnbc.com/2020/06/23/coronavirus-an...,1 Hour Ago
4,Secondhand apparel market expected to be value...,https://www.cnbc.com/2020/06/23/thredup-resale...,2 Hours Ago

# header name from df and db needs to be the same

In [78]:
site_tags_df = df[['Main URL']].copy()
site_tags_df.columns = ['main_url']
site_tags_df.head()

       main_url
0  www.cnbc.com
1  www.cnbc.com
2  www.cnbc.com
3  www.cnbc.com
4  www.cnbc.com

In [79]:
site_tags_df.to_sql("site_tags", conn, index=False, if_exists="append")

In [80]:
query = """
            SELECT
                *
            FROM
                site_tags
        """

In [81]:
pd.read_sql(query, conn)

     tag_id   tag      main_url
0         1  None  www.cnbc.com
1         2  None  www.cnbc.com
2         3  None  www.cnbc.com
3         4  None  www.cnbc.com
4         5  None  www.cnbc.com
..      ...   ...           ...
115     116  None  www.cnbc.com
116     117  None  www.cnbc.com
117     118  None  www.cnbc.com
118     119  None  www.cnbc.com
119     120  None  www.cnbc.com

[120 rows x 3 columns]

In [82]:
news_df.to_sql("news", conn, index=False, if_exists="append")

IntegrityError: (psycopg2.errors.NotNullViolation) null value in column "id" violates not-null constraint
DETAIL:  Failing row contains (null, European stocks head for higher open, brushing off coronavirus , https://www.cnbc.com/2020/06/23/european-stocks-brush-off-concer..., null, null, 23 Min Ago).

[SQL: INSERT INTO news (header, article_url, date_published) VALUES (%(header)s, %(article_url)s, %(date_published)s)]
[parameters: ({'header': 'European stocks head for higher open, brushing off coronavirus ', 'article_url': 'https://www.cnbc.com/2020/06/23/european-stocks-brush-off-concerns-over-coronavirus-pmis-in-focus.html', 'date_published': '23 Min Ago'}, {'header': "'Social bonds' are surging as conscious investing turns mainstream ", 'article_url': 'https://www.cnbc.com/2020/06/23/social-bonds-are-surging-as-conscious-investing-turns-mainstream.html', 'date_published': '25 Min Ago'}, {'header': 'Private survey of Chinese businesses predicts economy could contract this year ', 'article_url': 'https://www.cnbc.com/2020/06/23/china-beige-book-predicts-economy-could-contract-this-year.html', 'date_published': '1 Hour Ago'}, {'header': "The poor in Asia get only a 'thin trickle' of economic support amid virus crisis ", 'article_url': 'https://www.cnbc.com/2020/06/23/coronavirus-and-economy-un-says-poor-in-asia-get-little-support.html', 'date_published': '1 Hour Ago'}, {'header': 'Secondhand apparel market expected to be valued at $64 billion in 5 years ', 'article_url': 'https://www.cnbc.com/2020/06/23/thredup-resale-market-expected-to-be-valued-at-64-billion-in-5-years.html', 'date_published': '2 Hours Ago'}, {'header': 'China launches its final satellite to complete its rival to the US-owned GPS system ', 'article_url': 'https://www.cnbc.com/2020/06/23/beidou-china-completes-rival-to-the-us-owned-gps-system.html', 'date_published': '2 Hours Ago'}, {'header': "White House trade advisor Peter Navarro denies saying China trade deal is 'over' ", 'article_url': 'https://www.cnbc.com/2020/06/23/white-house-trade-advisor-peter-navarro-denies-saying-china-trade-deal-is-over.html', 'date_published': '3 Hours Ago'}, {'header': "Women in China are losing out in the workforce — that's bad news for the economy ", 'article_url': 'https://www.cnbc.com/2020/06/23/china-women-are-losing-out-in-the-workforce-its-harmful-for-the-economy.html', 'date_published': '5 Hours Ago'}  ... displaying 10 of 30 total bound parameter sets ...  {'header': "Here's what a new SEC chair could mean to crypto, according to Michael Novogratz ", 'article_url': 'https://www.cnbc.com/2020/06/22/heres-what-a-new-sec-chair-could-mean-for-crypto-according-to-bitcoin-investor-michael-novogratz.html', 'date_published': '10 Hours Ago'}, {'header': 'Two Trump campaign staffers who attended Tulsa rally test positive for Covid-19 ', 'article_url': 'https://www.cnbc.com/2020/06/22/coronavirus-2-more-trump-campaign-rally-staffers-test-positive-for-covid-19.html', 'date_published': '10 Hours Ago'})]
(Background on this error at: http://sqlalche.me/e/gkpj)

In [57]:
query = """
            SELECT
                *
            FROM
                news
        """

In [58]:
pd.read_sql(query, conn)

Empty DataFrame
Columns: [id, header, article_url, tag_id, site_id, date_published]
Index: []