In [1]:
# Dependencies
from bs4 import BeautifulSoup
import requests
#import pymongo
import pandas as pd
from splinter import Browser
from datetime import datetime, timedelta

In [2]:
url = 'https://www.cnbc.com/'

In [3]:
response = requests.get(url)
response.status_code

200

In [4]:
html = response.text
html[0:50]

'<!DOCTYPE html><html lang="en" prefix="og=https://'

In [5]:
# SOUPIFY
soup = BeautifulSoup(html, "lxml")
#print(soup.prettify())

In [6]:
# Articles
news = soup.find_all(class_="LatestNews-newsFeed")
cnbc = soup.find('a',attrs={'class':'branding-menu-logo'})['href']
title = soup.find_all(class_="LatestNews-headline")
time = soup.find_all(class_="LatestNews-timestamp")
href = "https://www.cnbc.com" + soup.find(class_="LatestNews-newsFeed").a.get("href")

In [7]:
# find hrefs
lists = soup.find_all(class_="LatestNews-newsFeed")

href = []

for headline in lists:
    href.append(headline.a.get("href"))

In [8]:
cnbc = cnbc.replace("/","")

In [9]:
# Lists
headlines = []
datetimes = []
links = []

In [10]:
# Loop to get all news
for article in news:
    headline = article.find(class_="LatestNews-headline").text      
    datePub = article.find(class_="LatestNews-timestamp").text
    
    headlines.append(headline)
    datetimes.append(datePub)

In [11]:
# Dataframe
df = pd.DataFrame()

df["header"] = headlines
df["article_url"] = href
df["date_published"] = datetimes
df["main_url"] = cnbc

In [12]:
df.head()

,header,article_url,date_published,main_url
0,India's top phone maker Xiaomi says anti-China...,https://www.cnbc.com/2020/06/26/xiaomi-india-g...,1 Hour Ago,www.cnbc.com
1,U.S. airline labor unions seek billions more t...,https://www.cnbc.com/2020/06/25/coronavirus-ai...,3 Hours Ago,www.cnbc.com
2,Ford unveils new F-150 as tech-savvy pickup wi...,https://www.cnbc.com/2020/06/25/ford-unveils-n...,3 Hours Ago,www.cnbc.com
3,Asia markets mostly higher as U.S. virus cases...,https://www.cnbc.com/2020/06/26/asia-markets-c...,3 Hours Ago,www.cnbc.com
4,Marc Benioff says 35 states are now using Sale...,https://www.cnbc.com/2020/06/25/coronavirus-35...,3 Hours Ago,www.cnbc.com

In [13]:
tags_df = pd.read_csv("tags.csv")
tags_df.head()

       keyword       tag  tag_id
0        covid  COVID-19       1
1  coronavirus  COVID-19       1
2        trump  Politics       2
3        biden  Politics       2
4     election  Politics       2

In [14]:
for i1, key in tags_df.iterrows():
    for i2, headeline in df.iterrows():
        if key.keyword in headeline.header.lower():
            df.loc[i2, 'tag_id'] = key.tag_id

In [15]:
df.head()

,header,article_url,date_published,main_url,tag_id
0,India's top phone maker Xiaomi says anti-China...,https://www.cnbc.com/2020/06/26/xiaomi-india-g...,1 Hour Ago,www.cnbc.com,4.0
1,U.S. airline labor unions seek billions more t...,https://www.cnbc.com/2020/06/25/coronavirus-ai...,3 Hours Ago,www.cnbc.com,1.0
2,Ford unveils new F-150 as tech-savvy pickup wi...,https://www.cnbc.com/2020/06/25/ford-unveils-n...,3 Hours Ago,www.cnbc.com,NaN
3,Asia markets mostly higher as U.S. virus cases...,https://www.cnbc.com/2020/06/26/asia-markets-c...,3 Hours Ago,www.cnbc.com,4.0
4,Marc Benioff says 35 states are now using Sale...,https://www.cnbc.com/2020/06/25/coronavirus-35...,3 Hours Ago,www.cnbc.com,3.0

# df to db

In [16]:
from sqlalchemy import create_engine

In [17]:
engine = create_engine("postgresql://postgres:group5@35.226.24.243:5432/postgres")
conn = engine.connect()

In [18]:
news_df = df[['header','article_url', 'date_published', 'tag_id']]
news_df.head()

,header,article_url,date_published,tag_id
0,India's top phone maker Xiaomi says anti-China...,https://www.cnbc.com/2020/06/26/xiaomi-india-g...,1 Hour Ago,4.0
1,U.S. airline labor unions seek billions more t...,https://www.cnbc.com/2020/06/25/coronavirus-ai...,3 Hours Ago,1.0
2,Ford unveils new F-150 as tech-savvy pickup wi...,https://www.cnbc.com/2020/06/25/ford-unveils-n...,3 Hours Ago,NaN
3,Asia markets mostly higher as U.S. virus cases...,https://www.cnbc.com/2020/06/26/asia-markets-c...,3 Hours Ago,4.0
4,Marc Benioff says 35 states are now using Sale...,https://www.cnbc.com/2020/06/25/coronavirus-35...,3 Hours Ago,3.0

In [66]:
news_df.to_sql("news", conn, index=False, if_exists="append")

In [67]:
query = """
            SELECT
                *
            FROM
                news
        """

In [68]:
pd.read_sql(query, conn)

,header,article_url,tag_id,site_id,date_published
0,Attorney General Barr Says DOJ Acts Independen...,https://www.npr.org/2020/06/25/883278573/attor...,2.0,3.0,"June 25, 2020"
1,Nearly $1.4 Billion In Coronavirus Relief Paym...,https://www.npr.org/sections/coronavirus-live-...,1.0,3.0,"June 25, 2020"
2,'Bear Our Pain': The Plea For More Black Menta...,https://www.npr.org/sections/health-shots/2020...,NaN,3.0,"June 25, 2020"
3,"Illinois Cautiously Reopens Zoos, Fitness Cent...",https://www.npr.org/sections/coronavirus-live-...,NaN,3.0,"June 25, 2020"
4,"NASA Names Headquarters After Mary Jackson, It...",https://www.npr.org/sections/live-updates-prot...,NaN,3.0,"June 25, 2020"
...,...,...,...,...,...
61,Life Time Fitness CEO says members are 'aching...,https://www.cnbc.com/2020/06/25/life-time-fitn...,NaN,NaN,8 Hours Ago
62,Wall Street executives brace for potential Bid...,https://www.cnbc.com/2020/06/25/wall-street-ex...,2.0,NaN,8 Hours Ago
63,Amazon will name a new stadium in Seattle the ...,https://www.cnbc.com/2020/06/25/amazon-wins-na...,NaN,NaN,8 Hours Ago
64,Uncle Sam is paying 5% interest on your late t...,https://www.cnbc.com/2020/06/25/uncle-sam-is-p...,NaN,NaN,8 Hours Ago
65,Apple will re-close 14 stores in Florida becau...,https://www.cnbc.com/2020/06/25/apple-will-re-...,1.0,NaN,8 Hours Ago

In [54]:
# Create and read Tags Table
tags_table = [[1, "COVID-19"], [2, "Politics"], [3, "US"], [4, "World"]]
tags_table = pd.DataFrame(tags_table, columns = ['tag', 'tag_id'])
tags_table.to_sql("tags", conn, index=False, if_exists="replace")